body {
  background-color:#36454F;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: auto;
  margin: 0;
}

.game-container {
  position: relative;
  display: flex;
  user-select: none;
}

.game-over {
  display: flex;
  position: absolute;
  border-radius: 2vmin;
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(197, 195, 195, 0.537);
  gap: 5vmin;
  transition: all ease-in-out; 
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
}

.game-over > .message {
  color: rgba(0, 0, 0, 1);
  font-size: 8.725vmin;
  font-weight: bold;
  color: rgb(62, 62, 62)
}

.game-over > .button {
  cursor: pointer;
  font-size: 3vmin;
  font-weight: bold;
  background-color: rgb(208, 128, 96);
  border-radius: 0.5vmin;
  border: none;
  padding: 1vmin 4vmin 1vmin 4vmin;
  color: rgb(62, 62, 62)
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 20vmin);
  background-color: lightgrey;
  gap: 2vmin;
  padding: 2vmin;
  border: 1vmin;
  border-radius: 2vmin;
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 20vmin);
  gap: 2vmin;
}

.cell {
  background-color: darkgray;
  border-radius: 1vmin;
}

.tile {
  position: absolute;
  border-radius: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 7.5vmin;
  color: rgb(86, 86, 86);
  gap: 2vmin;
  width: 20vmin;
  height: 20vmin;
  background-color: lightsalmon;
  top: 2vmin;
  left: 2vmin;
  animation: test 0.250s ease-in-out;
  transition: all 0.150s ease-in-out;
}

@keyframes test {
  0% {
    transform: scale(0);
  }
}

.game-header {
  display: flex;
  color: white;
  height: 10vmin;
  font-weight: bold;
}

.game-title {
  margin-left: 3vmin;
  font-size: 10vmin;
}

.right-container {
  margin-left: auto;
}

.score-container {
  margin-left: auto;
  height: 100%;
}

.score-box {
  position: relative;
  display: inline-block;
  background: #bbada0;
  min-width: 7.5vmin;
  margin-top: 5%;
  margin-right: 10px;
  height: 80%;
  font-size: 3vmin;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.box-name {
  margin-top: 1vmin;
  font-size: 1.5vmin;
  height: fit-content;
}

.score {
  margin-top: 20%
}

.reset-button {
  vertical-align: middle;
  margin-bottom: 40px;
  margin-right: 10px;
  font-family: Arial;
  display: inline-block;
  height: fit-content;
  cursor: pointer;
  font-size: 3vmin;
  font-weight: bold;
  background-color: rgb(208, 128, 96);
  border-radius: 0.5vmin;
  border: none;
  padding: 1vmin 4vmin 1vmin 4vmin;
  color: rgb(62, 62, 62)
}
